<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> 

    <link 
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        body{
            height:100%;
        }
        .content{
        background-color: white;
        padding: 30px;
        padding-left:  100px;
        padding-right:  100px;
        border-radius: 23px;
        border: 2px solid blue;
        font-family: 'Varela Round', sans-serif;       
        /* opacity: 0.5; */
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
    </style>


    <title> Register</title>
  </head>
  <body style="background: url({% static 'img/bg.jpg'%} );">
  
      <div class="content">
        <span class="mb-0 text-muted">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                
            {% endif %}
          </span>
          <div class='i-am-centered'>
            <!-- <h1>User Registration page</h1> -->
            <h1><b>REGISTER</b></h1><hr>

                <form  method="post">
                    {% csrf_token %}
                <div class="form-group first">
                    <label for="firstName">FirstName</label>
                    {{ form.firstName }}
                </div>
                <div class="form-group first">
                    <label for="lastName">LastName</label>
                    {{ form.lastName }}
                </div>
                <div class="form-group first">
                    <label for="username">username</label>
                    {{ form.username }}
                </div>
                <div class="form-group first">
                    <label for="email">Email</label>
                    {{ form.email}}
                </div>
                <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group last mb-4">
                    <label for="password">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <div class="form-group first">
                    <label for="address">Address</label>
                    {{ form.address }}
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Doctor</span>
                        {{ form.is_doctor }}
                    <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">patient</span>
                        {{ form.is_patient }}
                    <div class="control__indicator"></div>
                    </label>
                </div>
            
                    <span class="text-error">{{ form.errors }}</span>
                <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
            </div>

      </div>                   

              



  </body>
</html>